# Database
*.sqlite
database.sqlite

# Logs
*.log
error.log
npm-debug.log*

# Environment Variables
.env
.env.local

# Dependency directories
node_modules/
dist/
.nx/
.angular/

# OS files
.DS_Store
Thumbs.db